include *.rst
recursive-include docs *.rst
recursive-include etltest/samples *.*
recursive-include etltest/templates *.*
recursive-include scripts *.*
include CHANGES.txt
include *.md
include .etltest-settings.yml