{{ header }}
# These tests are also run as part of the following suites:
#
{% for suite in tests.suites %}
#    {{ suite.suite }}
{% endfor %}
#
# The following processes are executed for these tests:
#
{% for proc in tests.processes %}
#    {{ proc.tool }}:
  {% for p in proc.processes %}
#      {{ p.name }}
  {% endfor %}
{% endfor %}

import unittest
import sqlalchemy
from etltest.data_connector import DataConnector
from etltest.process_executor import ProcessExecutor

class {{ testGroup }}Test(unittest.TestCase):

    def setUp(self):
        # Queries for loading test data.
      {% for set in tests.dataset %}
          DataConnector({{ set.source }}).insert_data({{ set.table }}, {{ set.records }})
      {% endfor %}

      {% for tool in tests.processes %}
      {% for job in tool.processes %}
          ProcessExecutor({{ tool.tool }}).execute_process({{ job.name }})
      {% endfor %}
      {% endfor %}

    def tearDown(self):
       # Clean up testing environment.

      {% for set in tests.dataset %}
        DataConnector({{ set.source }}).truncate_data({{ set.table }})
      {% endfor %}

{% for test in tests.tests %}
    def {{ test.name }}(suite):
        # {{ test.desc }}

        given_result = DataConnector({{ test.query.source }}).select_data()

        expected_result = "{{ test.query.result }}"

        self.assertEqual(given_result, expected_result)

{% endfor %}